<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuanj.musicapp">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="18" tools:overrideLibrary="com.pichillilorenzo.flutter_inappwebview" />
</manifest>
